---
title: Publications
---

In [17]:
import pandas as pd
from utils import get_path

In [18]:
path_pubs = get_path('INOVA_COVID', 'pubs_469937.csv')
df_pub = pd.read_csv(path_pubs)
df_pub

,doi,date_inserted,period,type,n_authors,n_countries,n_north,n_south,first_author_country,first_author_income,...,last_author_income,distinct_countries,income,category_for_first_level,category_for_second_level,category_bra,concepts,tags,adj_list_first,adj_list_last
0,10.1016/j.tmaid.2019.101549,2020-01-01,1,article,2,1,1.0,NaN,IE,North,...,North,IE,North,11,1103; 1117,NaN,travel medicine; medicine research; medicine,"North,National,World","IE,IE","IE,IE"
1,10.1080/14760584.2020.1711054,2020-01-01,1,article,4,2,2.0,NaN,DE,North,...,North,DE; DK,North; North,11,1107,4000.0,adenoviral vaccine vectors; immune response; v...,"Norths,Intra_Bloc,International,World","DE,DE,DK","DK,DE,DK"
2,10.1007/s00438-019-01638-9,2020-01-03,1,article,5,1,NaN,1.0,CN,South,...,South,CN,South,06,0604; 0607,4000.0,maize circRNAs; circular RNAs; RNA-seq transcr...,"South,National,World","CN,CN","CN,CN"
3,10.1055/s-0039-3401984,2020-01-03,1,article,4,1,NaN,1.0,TR,South,...,South,TR,South,11,1102; 1103,4001.0,lower respiratory tract infections; respirator...,"South,National,World","TR,TR","TR,TR"
4,10.1126/sciadv.aax5576,2020-01-03,1,article,20,1,NaN,1.0,CN,South,...,South,CN,South,11,1112,4001.0,cetuximab therapy; colorectal cancer; metastat...,"South,National,World","CN,CN","CN,CN"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
469932,10.7759/cureus.20806,2021-12-30,4,article,5,1,NaN,1.0,BR,South,...,South,BR,South,11,1103,4001.0,cutaneous manifestations; COVID-19; COVID-19 P...,"South,National,World","BR,BR","BR,BR"
469933,10.7759/cureus.20809,2021-12-30,4,article,4,1,NaN,1.0,LB,South,...,South,LB,South,11,1102,4001.0,infective endocarditis; unusual presentation; ...,"South,National,World","LB,LB","LB,LB"
469934,10.7759/cureus.20810,2021-12-30,4,article,3,1,1.0,NaN,US,North,...,North,US,North,11,1117,NaN,ABO blood type; COVID-19 mRNA vaccination; mRN...,"North,National,World","US,US","US,US"
469935,10.7759/cureus.20812,2021-12-30,4,article,5,2,1.0,1.0,IN,South,...,North,IN; KW,South; North,11,1103,4001.0,internal carotid artery; right internal caroti...,"South_North,Shared_L,Inter_Blocs,International...","IN,IN,KW","KW,IN,KW"
469936,10.7759/cureus.20814,2021-12-30,4,article,5,2,1.0,1.0,PK,South,...,North,PK; US,South; North,11,1108; 1117,4001.0,positive polymerase chain reaction; primary ca...,"South_North,Shared_L,Inter_Blocs,International...","PK,PK,US","US,PK,US"

In [19]:
df_pub.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 469937 entries, 0 to 469936
Data columns (total 21 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   doi                        469937 non-null  object
 1   date_inserted              469937 non-null  object
 2   period                     469937 non-null  int64
 3   type                       469937 non-null  object
 4   n_authors                  469937 non-null  int64
 5   n_countries                469937 non-null  int64
 6   n_north                    334247 non-null  float64
 7   n_south                    181097 non-null  float64
 8   first_author_country       469904 non-null  object
 9   first_author_income        469937 non-null  object
 10  last_author_country        469904 non-null  object
 11  last_author_income         469937 non-null  object
 12  distinct_countries         469915 non-null  object
 13  income                     469937 non-null  object
 14  category_for_first_level   431780 non-null  object
 15  category_for_second_level  406643 non-null  object
 16  category_bra               172375 non-null  float64
 17  concepts                   449374 non-null  object
 18  tags                       469937 non-null  object
 19  adj_list_first             469937 non-null  object
 20  adj_list_last              469937 non-null  object
dtypes: float64(3), int64(3), object(15)
memory usage: 75.3+ MB

In [20]:
cols_id = ['doi', 'date_inserted', 'tags']
df_id = df_pub[cols_id]
df_id

,doi,date_inserted,tags
0,10.1016/j.tmaid.2019.101549,2020-01-01,"North,National,World"
1,10.1080/14760584.2020.1711054,2020-01-01,"Norths,Intra_Bloc,International,World"
2,10.1007/s00438-019-01638-9,2020-01-03,"South,National,World"
3,10.1055/s-0039-3401984,2020-01-03,"South,National,World"
4,10.1126/sciadv.aax5576,2020-01-03,"South,National,World"
...,...,...,...
469932,10.7759/cureus.20806,2021-12-30,"South,National,World"
469933,10.7759/cureus.20809,2021-12-30,"South,National,World"
469934,10.7759/cureus.20810,2021-12-30,"North,National,World"
469935,10.7759/cureus.20812,2021-12-30,"South_North,Shared_L,Inter_Blocs,International..."
469936,10.7759/cureus.20814,2021-12-30,"South_North,Shared_L,Inter_Blocs,International..."

In [21]:
path_pubs = get_path('INOVA_COVID', 'pubs_doi_date_tag.csv')
df_id.to_csv(path_pubs, index=False)